
/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}
.location {
    color: rgb(119, 178, 201);
}
.jumbotron {
    color: white;
    background-image: url(https://images.unsplash.com/photo-1536646506670-821b8a6bbbca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.username {
    text-transform: capitalize;
}
